.connect-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect-root div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border-bottom-color: white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

h4 {
  border: none;
  padding: 0;
  color: white;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.883);
  border: 2px solid rgba(255, 255, 255, 0.883);
  font-size: 30px;
  border-radius: 5px;
  padding: 0 20px;
}

button:hover {
  color: white;
  border-color: white;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
}
