.connect-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect-root div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:focus::placeholder {
  color: transparent;
}

h4 {
  border: none;
  padding: 0;
}
