.connect-root {
  width: 100%;
  height: 100%;
}

.connect-root div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connect-root div div {
  margin: 20px 0px 0px 0px;
}

input:focus::placeholder {
  color: transparent;
}

h4 {
  border: none;
}
